*{
    color: black;
    margin: 0;
    padding: 0;
}

body{
    height: auto;
}

.main{
    margin-top: 26vw;
    max-width: fit-content;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vw;
}

.logo{
    margin-top: -0.8vw;
    padding-top: 0.3vw;
}

.nav{
    display: flex;
    
}

#kalvium-books{
    margin-left: -1vw;
    font-weight: 500;
    font-size: larger;
}

#search-bar{
    margin-left: 16vw;
    width: 40vw;
}

.register{
    height: 2.5vw;
    width: 6vw;
    border-radius: 8px;
    text-align: center;
}

div.onebook{
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    background-color: rgb(216, 230, 242);
    transition: all 0.3s ease;
}

.onebook:hover {
    background-color: #c2ece7;
    box-shadow: 0px 3vw 6vw rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
   
  
  }

img#book-image{
    height: 25vw;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.onebook {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1vw;
    margin: 1vw;
    width: 20vw; 
    text-align: center;
    min-height: 10vw;
    max-height: 40vw;
}

.onebook img {
    width: 100%;
    border-radius: 8px;
}

.booktit {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

#book-image{
    object-fit: cover;
    height: 30vw;
}

div.books{
       display: flex;
       flex-wrap: wrap;
    
}